body{
  background-color:#005eff;
}
h1{
  text-align:center;
  font-family:cambria;
  background-color:black;
  color:red;
}
img#ib{
animation: fading 10s forwards;
display: block;
  margin-left: auto;
  margin-right: auto;
}
@keyframes fading{
  from{
     filter:sepia(100%);
  }
  to{
     filter:sepia(0%);
  }
}

.students{
display: block;
 margin-left: auto;
 margin-right: auto;
}
h2{
 font-family:cambria;
 color:darkgreen;
}
.motto{
 text-align:center;
 font-family:cambria;
 color:white;
}
#tag{
  color:yellow;
}
.program{
 font-family:cambria;
 color:green;
}
#facts{
 display: block;
 margin-left: auto;
 margin-right: auto;
 animation: filtered 10s forwards;
}
@keyframes filtered{
  from{
     filter:hue-rotate(0deg);
  }
  to{
     filter:hue-rotate(180deg);
  }
}
.list{
  color:yellow;
  font-family:cambria;
}
#number:hover{
  background-color:red;
  font-style:italic;
}




