body{
  background-color:#005eff;
}
h1{
  text-align:center;
  font-family:cambria;
  color:white;
}
img.ib{
animation: fading 3s forwards;
}
@keyframes fading{
  from{
     filter:sepia(100%);
  }
  to{
     filter:sepia(0%);
  }
}


